/* PUSHY
---------------------------------*/

.pushy {
  position: fixed;
  width: 256px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #f5f5f5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #008198;
  font-size: 13px;
}

.pushy a {
  font-size: 13px;
}

.pushy.pushy-left {
  left: 0;
}

.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

.pushy-left {
  -webkit-transform: translate3d(-256px, 0, 0);
  -ms-transform: translate3d(-256px, 0, 0);
  transform: translate3d(-256px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(256px, 0, 0);
  -ms-transform: translate3d(256px, 0, 0);
  transform: translate3d(256px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(256px, 0, 0);
  -ms-transform: translate3d(256px, 0, 0);
  transform: translate3d(256px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-256px, 0, 0);
  -ms-transform: translate3d(-256px, 0, 0);
  transform: translate3d(-256px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 129, 152, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pushy .panel-heading {
  background: #fcfcfc url(../images/bg.png);
}

.pushy .panel-heading a {
  font-size: 14px;
}

.pushy .panel-heading i {
  color: #02798E;
}

.pushy .panel-title {
  font-size: 15px;
}

.pushy .panel-default,.pushy .panel-heading {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

.pushy .panel-body {
  line-height: 25px;
}

.pushy .navsearchwrap {
  padding:10px;
}

.pushy .navsearchwrap .form-group {
  padding-bottom:0;
  margin-bottom:0;
}

.pushy .panel-body .counter {
  margin-left: 6px;
  color: #555 !important;
}

.pushy_html_body {
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/* BOOTBOX
----------------------------*/

.bootbox .dialog-checkout {
  margin-bottom: 25px;
}
.bootbox .modal-body {
  max-height: 500px;
  overflow: auto;
}
.bootbox .modal-header {
  text-transform:uppercase;
  font-weight: bold;
}
.msw-box-error .modal-header {
  background: #ff9999;
  color: #fff;
  border-bottom: 1px solid #E67C73;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}