.gii_costume_gen_banner {
  background: url("https://dev.deardorffassociates.com/halloween-embed/images/costume-generator-banner.jpg") center no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 0px;
  display: flex;
  flex-grow: 1;
  padding-top: 10%;
}

.gii_banner_link {
  display: block;
  width: 100%;
  height: 100%;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*font-family: 'Archivo', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Archivo', sans-serif;
  width: 100%;
}

.text-red {
  color: #910505;
}

.likebox {
  position: absolute;
  bottom: 0px;
  padding: 3px;
  background: rgba(0,0,0,.5);
  color: #fff;
  right: 0px;
}

.likecnt {
  position: relative;
  top: -2px;
}

h1 {
  color: #ffffff !important;
  text-shadow: 2px 2px 4px #000000;
  z-index: 100;
  position: relative;
  font-family: 'Permanent Marker', cursive !important;
}

h2 {
  color: #efefef;
}

h2.homeH2 {
  color: rgba(44, 44, 44, 1);
}

.jumbotron {
  background: url("/img/backgrounds/London-2019-panorama-compressed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color: #efefef;
  margin-top: -10px;
}

.portaitclear {
  display: block;
  float: right;
  margin-left: 50px;
  width: 250px;
  height: 250px;
}

#portrait {
  background: url("../../img/mike-mcallister-processed-250.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border: 10px solid #f5f3f3;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  -ms-transform: translate(-38px, -33px) rotate(367deg);
  -webkit-transform: translate(-38px, -33px) rotate(367deg);
  transform: translate(-38px, -33px) rotate(367deg);
  /* animation-name: tilt; */
  animation-duration: 5s;
  transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

#quadrophenia {
  width: 30px;
  height: 300px;
  float: right;
  margin-right: 300px;
  margin-top: -150px;
}

#nameplate {
  background: url("../../img/mikeMc.png");
  background-size: cover;
  background-position-x: -115px;
  opacity: 1;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  position: relative;
  top: -100px;
  left: -100px;
}

#photo {
  background: url("../../img/Scooter-bg.jpg");
  background-size: cover;
  background-position-x: -115px;
  opacity: 0.4;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  position: relative;
  top: 0px;
  left: 0px;
}

.blue {
  background: #00247d;
}

.white {
  background: #ffffff;
}

.red {
  background: #ce1126;
}

.quadrophenia_ring1 {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.4));
}

.quadrophenia_ring2 {
  border-radius: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50px;
  width: 200px;
  height: 200px;
}

.quadrophenia_ring3 {
  border-radius: 100%;
  position: relative;
  display: block;
  top: 50px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

#brand {
  display: block;
  float: right;
  width: 315px;
  margin-bottom: 10px;
}

.brand__logo {
  float: left;
}

.brand_ring1 {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.brand_ring2 {
  border-radius: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10px;
  width: 40px;
  height: 40px;
}

.brand_ring3 {
  border-radius: 100%;
  position: relative;
  display: block;
  top: 10px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.socialContainer {
  position: relative;
  height: 230px;
}

.socialContainer--plus50 {
  height: 280px;
}

.socialContainer--btn {
  position: absolute;
  bottom: 0px;
}

.launchHeader {
  margin-top: 30px;
}

.launchLogo {
  width: auto;
  height: 35px;
}

.launchContainer {
  margin-top: 20px;
}

.launch__mission__name {
  font-weight: 700;
}

.launch__copy {
  margin-bottom: 3px;
}

.launch__details {
  height: 250px;
  overflow-y: scroll;
  padding-right: 10px;
}

.launch__img {
  width: auto;
  display: block;
  height: 250px;
  float: right;
  margin-left: 20px;
}



.instagram__holder {
  position: relative;
  height: 0px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 130%;
}

.instagram__border {
  cursor: pointer;
  position: absolute;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  max-width: 100%;
  width: 100%;
  height: 0px;
  display: flex;
  flex-grow: 1;
  margin-bottom: 2px;
  padding-top: 100%;
  border: 10px solid #f5f3f3;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.4s ease-in-out;
}

.instagram__border:hover {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.instagram__video {
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  outline: none;
}

#bigstagram--vid {
  outline: none;
}

.instagram__video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -100;
  right: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
}

.instagram__copy {
  position: absolute;
  bottom: 0px;
  height: 40px;
  line-height: 1em;
}

.instagram__date {
  font-size: 0.65em;
}

#signature {
  background: url("../../img/signature.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 57px;
  float: right;
}

.modalImage {
  width: 100%;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

#map {
  width: 100%;
  height: 500px;
  z-index: 20000;
}

.modal-backdrop {
  z-index: 0 !important;
}

footer {
  padding: 10px;
}

@media (max-width: 768px) {
  .instagram__holder {
    padding-top: 120%;
  }
}

@media (max-width: 576px) {
  .portaitclear {
    display: block;
    float: right;
    margin-left: 50px;
    width: 250px !important;
    height: 30px !important;
  }

  #portrait {
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    float: right;
    margin-right: -28px;
    margin-top: -100px;
    border: 10px solid #f5f3f3;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  }

  .homeProject {
    float: left;
    clear: both;
    width: 100% !important;
    margin-bottom: 20px;
  }

  #qrCode {
    display: none;
  }


}

@media only screen and (max-device-width : 600px) {
  #portrait {
    /* background: url(../img/mike-mcallister-processed-250.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    float: right;
    margin-right: -28px;
    margin-top: -100px;
    border: 10px solid white;
  }

  #pickupLine {
    font-size: 1em;
    color: #fff;
    z-index: 100;
    position: relative;
  }
}

@media (max-width: 375px) {
  .instagram__holder {
    /* height: 420px; */
  }
}

#pickupLine {
  width: 50%;
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: 1.25em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 4px rgba(30, 26, 6, 0.9);
  z-index: 100;
  position: relative;
}

#qrCode {
  border-radius: 0% 5% 5% 0%;
  border: 2px solid #000;
  height: 180px;
  width: 37px;
  position: absolute;
  left: 0px;
  overflow: hidden;
  background-image: url("/img/qr-code.svg");
  background-size: 170px 170px;
}

#qrCode:hover {
  /* left:-10px; */
  cursor: pointer;
}

#qrTitle {
  background: #000;
  color: #fff;
  position: absolute;
  right: -92px;
  bottom: 0px;
  width: 125px;
  height: 196px;
}

#qrTitle span {
  transform: rotate(90deg);
  transform-origin: top left;
  display: block;
  position: relative;
  left: 26px;
  top: 60px;
}

.logoimg {
  float: right;
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

.logoimgLeft {
  float: left;
  margin-right: 20px;
}

.emailform {
  width: 100% !important;
  height: 50px;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 3px solid #a944423b;
  transition: all 0.4s ease-in-out;
}

.emailform:focus {
  border: 5px solid #a94442ff;
  outline: none;
}

.msgbox {
  height: 200px !important;
}

.error {
  color: #910505;
}

.logo {
  margin: 0 auto;
  vertical-align: middle;
  display: block;
  height: 150px;
  display: block;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.clientBlock {
  margin-top: 50px;
}

.projectImg {
  width: 100%;
}

.nava {
  /* font-size: 1.5em !important; */
}

.homeProject {
  float: right;
  margin-left: 10px;
  width: 300px;
}

.homeTitle {
  color: rgba(229, 181, 44, 0.9);
}
/* --------------------------------

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: #e9f0f5;
}

a {
  font-size: 1em;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-weight: bold;
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------

Main components

-------------------------------- */

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}

header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}

@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }

  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-block:first-child {
  margin-top: 0;
}

.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }

  .cd-timeline-block:first-child {
    margin-top: 0;
  }

  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline-img.cd-picture {
  background: #75ce66;
}

.cd-timeline-img.cd-movie {
  background: #c03b44;
}

.cd-timeline-img.cd-location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content h2 {
  color: #303e49;
}

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 2rem;
  }

  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.5rem;
  }

  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .cd-timeline-content .cd-read-more {
    float: left;
  }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */

  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}