.tardis{
    padding-right:0px;
    padding-left:0px;
}


.tardisblue{
    color:rgba(16,35,114,1);
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.tardis__header{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    width:auto;
    height:150px;
    background-color: rgba(16, 35, 114, 1);
    color: #fff;
    margin:0;

}
.tardis__header img {
    position: absolute;
    left: 0;
    top: -135px;
    width: 100%;
    height: auto;
    opacity: 0.2;
}

.tardis__logo{
    background: url(../img/kissclipart-neben-der-spur-book-clipart-the-doctor-tardis-el-f5b9d3d756184d6d.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 105px;
    width: 60px;
    position: relative;
    left: 120px;
    top: 88px;
}

.code{
    font-family: 'Source Code Pro',
    monospace;
}


/* tardis__table.com */
.tardis__table {
    display: table;
    width: 100%;
}

.tardis__tableRow {
    display: table-row;
}

.tardis__tableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.tardis__tableCell,
.tardis__tableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.tardis__tableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.tardis__tableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.tardis__tableBody {
    display: table-row-group;
}