.football {
    width: 100%;
    height: 165px;
    background-image: url(/img/football_bg2.webp);
    background-size: cover;
    background-position-y: center;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
    padding: 15px 10px 0px 10px;

}

.foootball__inner {
    background: transparent;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.football__item{
    width: 30%;
    height: 90%;
    flex-grow: 1;
    display: display;
    border: 1px solid #000;
    padding: 10px;
    margin-right: 10px;
    color: #000;
    background: #fff;
    opacity: .9;
}

.football__item:last-of-type {
    margin-right: 0px;
}

.football__logo{
    background-size: cover;
    width:75px;
    height:75px;
    float:left;
    margin-right:20px;
}

.football_title{
    margin-top: 0px;
}