.gii_costume_gen_banner {
	background: url(http://dev.deardorffassociates.com/halloween-embed/images/costume-generator-banner.jpg) center no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 0px;
	display: flex;
	flex-grow: 1;
    padding-top: 10%;
}

.gii_banner_link {
	display: block;
	width: 100%;
	height: 100%;
}/*

@media only screen and (max-width:1440px) {
	.gii_costume_gen_banner {
		width: 100%;
		height: 125px
	}
}

@media only screen and (max-width:1280px) {
	.gii_costume_gen_banner {
		width: 100%;
		height: 100px
	}
}

@media only screen and (max-width:1024px) {
	.gii_costume_gen_banner {
		width: 100%;
		height: 80px
	}
}

@media only screen and (max-width:990px) {
	.gii_costume_gen_banner {
		width: 100%;
		height: 80px
	}
}

@media only screen and (max-width:800px) {
	.gii_costume_gen_banner {
		width: 100%;
		height: 60px
	}
}*/