.gii_costume_gen_banner {
	background: url(https://dev.deardorffassociates.com/halloween-embed/images/costume-generator-banner.jpg) center no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 0px;
	display: flex;
	flex-grow: 1;
    padding-top: 10%;
}

.gii_banner_link {
	display: block;
	width: 100%;
	height: 100%;
}