.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instagram__holder {
    position: relative;
    height: 0px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 130%;
}

.instagram__border {
    cursor: pointer;
    position: absolute;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    max-width: 100%;
    width: 100%;
    height: 0px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 2px;
    padding-top: 100%;
    border: 10px solid #f5f3f3;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
    transition: all 0.4s ease-in-out;
}

.instagram__border:hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.instagram__video {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    outline: none;
}

#bigstagram--vid {
    outline: none;
}

.instagram__video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.instagram__copy {
    position: absolute;
    bottom: 0px;
    height: 40px;
    line-height: 1em;
    padding-top: 10px;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.instagram__date {
    font-size: 0.65em;
    line-height: 0.85em;
}

#signature {
    background: url(../img/signature.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 57px;
    float: right;

}

.modal-body--holder {
    position: relative;
    height: 100%;
    width: 100%;
}

.modalImage {
    width: 100%;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.modal-btn {
    cursor: pointer;
    width: 50%;
    height: 85%;
    display: inline-block;
    position: absolute;
    z-index: 100;
    vertical-align: center;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25%;

}


.modal-left {
    float: left;
    background-image: none;
    opacity: 0;
    transition: opacity .65 ease-in-out;
    transition-duration: 1s;


}

.modal-left:hover,
.modal-left:focus {
    background-image: url(/img/chevron-left.svg);
    opacity: 0.65;
    transition: opacity 0 ease-in-out;
    transition-duration: 1s;

}

.modal-right {
    float: right;
    text-align: right;
    right: 0px;
    background-position-x: 100%;
    opacity: 0;
    transition: opacity .65 ease-in-out;
    transition-duration: 1s;

}

.modal-right:hover,
.modal-right:focus {
    background-image: url(/img/chevron-right.svg);
    opacity: 0.65;
    transition: opacity 0 ease-in-out;
    transition-duration: 1s;
}

#map {
    width: 100%;
    height: 500px;
    z-index: 20000;
}

.modal-backdrop {
    z-index: 0 !important;
}

.insta__big {
    box-sizing: border-box;
    display: block;
    background-image: url(../img/instagram-big.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    z-index: -1;
    position: relative; 
    top: 375px;
    left: -70px;
    margin-top: -400px;
    transition: all 0.75s ease-in-out;
    opacity: .25;
    

}

.insta__big--rotate{
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);

}


@media (max-width: 768px) {
    .instagram__holder {
        padding-top: 120%;
    }

    .socialContainer {
        position: relative;
        height: 150px !important;
    }

    .socialContainer--plus50 {
        height: 170px !important;
    }

    .launch__details {
        height: 135px !important;
    }
}

@media (max-width: 414px) {

    .instagram {
        flex-direction: column;
    }

    .instagram__holder {
        height: 450px;
    }
}