/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*font-family: 'Archivo', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
 
h1 {
	color: #ffffff !important;
	text-shadow: 2px 2px 4px #000000;
	z-index: 100;
  position: relative;
	font-family: 'Permanent Marker', cursive;
}


.jumbotron {
	background: url(../img/backgrounds/London-2019-panorama-compressed.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
.portaitclear{
	display:block;
	float: right;
	margin-left:50px;
	width: 250px;
	height: 250px;

}

#portrait {
	background: url(../img/mike-mcallister-processed-250.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	border: 10px solid #f5f3f3;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
	-ms-transform: translate(-38px, -33px) rotate(367deg);
  	-webkit-transform: translate(-38px, -33px) rotate(367deg);
  	transform: translate(-38px, -33px) rotate(367deg);
	/* animation-name: tilt; */
	animation-duration: 5s;
	transition-timing-function: ease-out;
  	transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

#quadrophenia{
	width: 30px;
    height: 300px;
    float: right;
    margin-right: 300px;
    margin-top: -150px;

}

#photo {
	background: url(../img/Mike-in-London.jpg);
	background-size: cover;
	background-position-x: -190px;
	opacity: 0.6;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	position: relative;
	top: -100px;
	left: -100px;
	filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.95));
  }
  
  #blue {
	background: #00247d;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
  }
  
  #white {
	background: #ffffff;
	border-radius: 100%;
	position: relative;
	display: block;
	top: 50px;
	margin: 0 auto;
	width: 200px;
	height: 200px;
  }
  
  #red {
	background: #ce1126;
	border-radius: 100%;
	position: relative;
	display: block;
	top: 50px;
	margin: 0 auto;
	width: 100px;
	height: 100px;
  }

#signature{
	background: url(../img/signature.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 57px;
	float: right;

}
#emma{
	display:block;
	margin:0 auto;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
	width: 100%;
}

#map{
	width: 100%;
	height: 500px;
	z-index: 20000;;
}
.modal-backdrop {
	z-index: 0 !important;
}

footer{
	padding:10px;
}


@keyframes tilt {
	0% {
		transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-moz-keyframes animationFrames {
	0% {
		-moz-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-moz-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-moz-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-webkit-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-webkit-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-o-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-o-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-ms-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-ms-transform: translate(-38px, -33px) rotate(367deg);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-23 9:57:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@media only screen and (max-device-width : 414px)  {
	.portaitclear {
		display: block;
		float: right;
		margin-left: 50px;
		width:250px !important;
		height:30px !important;
	}
	#portrait {
		background-size: cover;
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: right;
		margin-right: -28px;
		margin-top: -100px;
		border: 10px solid #f5f3f3;
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));

	}
	.homeProject {
		float: left;
		clear: both;
		width:100% !important;
		margin-bottom: 20px;
	}

	#qrCode{
		display:none;
	}
}

@media only screen and (max-device-width : 600px)  {

	#portrait {
		/* background: url(../img/mike-mcallister-processed-250.jpg); */
		background-size: cover;
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: right;
		margin-right: -28px;
		margin-top: -100px;
		border: 10px solid white;

	}

	#pickupLine {
		font-size: 1em;
		color:#fff;
	}

}
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

#pickupLine {
	width: 50%;
  font-weight: 400;
  letter-spacing: -.025em;
	line-height: 1.25em;
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 4px rgba(30, 26, 6, 0.9);
}

#qrCode{
	border-radius: 0% 5% 5% 0%;
	border: 2px solid #000;
	height: 180px;
	width:37px;
	position: absolute;
	left:0px;
	overflow: hidden;
	background-image: url(../img/qr.png);
	background-size: 170px 170px;
}

#qrCode:hover{
	/* left:-10px; */
	cursor: pointer;
}

#qrTitle{
	background: #000;
	
	color: #fff;
	position: absolute;
	right:-92px;
	bottom: 0px;
    width: 125px;
    height: 196px;
}
#qrTitle span{
	transform: rotate(90deg);
	transform-origin: top left;
	display: block;
    position: relative;
    left: 26px;
    top: 60px;
}
.logoimg {
	float: right;
	margin-left: 20px;
}

.logoimgLeft {
	float: left;
	margin-right: 20px;

}

.emailform {
	width: 100% !important;
	height: 50px;
	font-size: 18px;
	border-radius: 6px;
	margin-bottom: 15px;
}

.msgbox {
	height: 200px !important;
}


.error {
	color: #910505
}

.logo{
	margin:0 auto;
	vertical-align: middle;
	display:block;
	height:150px;
	display: block;
}

 .logo img{
	display: block;
	margin: 0 auto;;
 }

.clientBlock{
	margin-top:50px;
}

.projectImg {
	width:100%;
}

.nava{
	/* font-size: 1.5em !important; */
}
.homeProject{
	float:right;
	margin-left: 10px;
	width:300px;
}

.homeTitle{
	color: rgba(229, 181, 44, 0.9);

}


 
