/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
	color: #ffffff !important;
	text-shadow: 2px 2px 4px #000000;
	z-index: 100;
  position: relative;
}


.jumbotron {
	background: url(../img/digital-landscape-wallpaper-010.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#portrait {
	background: url(../img/me.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	float: right;
	margin-right: 100px;
	margin-top: -100px;
	border: 10px solid white;
	-ms-transform: translate(-38px, -33px) rotate(367deg);
  -webkit-transform: translate(-38px, -33px) rotate(367deg);
  transform: translate(-38px, -33px) rotate(367deg);
	animation-name: tilt;
	animation-duration: 3s;
	animation-timing-function: ease-out;
}

#signature{
	background: url(../img/signature.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 52px;
	float: right;

}


@keyframes tilt {
	0% {
		transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-moz-keyframes animationFrames {
	0% {
		-moz-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-moz-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-moz-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-webkit-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-webkit-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-o-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-o-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-ms-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-ms-transform: translate(-38px, -33px) rotate(367deg);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-23 9:57:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@media only screen and (max-device-width : 414px)  {

	#portrait {
		background: url(../img/me.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: right;
		margin-right: -28px;
		margin-top: -100px;
		border: 10px solid white;

	}

}

@media only screen and (max-device-width : 600px)  {

	#portrait {
		background: url(../img/me.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: right;
		margin-right: -28px;
		margin-top: -100px;
		border: 10px solid white;

	}

}
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

#pickupLine {
	width: 50%;
  font-weight: 400;
  letter-spacing: -.025em;
	line-height: 1.25em;
	text-shadow: 2px 2px 4px rgba(250, 248, 248, 0.9);
}

.logoimg {
	float: right;
	margin-left: 20px;
}

.logoimgLeft {
	float: left;
	margin-right: 20px;

}

.emailform {
	width: 100% !important;
	height: 50px;
	font-size: 18px;
	border-radius: 6px;
	margin-bottom: 15px;
}

.msgbox {
	height: 200px !important;
}


.error {
	color: #910505
}