/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*font-family: 'Archivo', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Archivo', sans-serif;
	width:100%
}

h1 {
	color: #ffffff !important;
	text-shadow: 2px 2px 4px #000000;
	z-index: 100;
  	position: relative;
	font-family: 'Permanent Marker', cursive !important;
}
h2 {
	color: #efefef;
}

h2.homeH2{
	color: rgba(44, 44, 44, 1);
}

.jumbotron {
	background: url(/img/backgrounds/London-2019-panorama-compressed.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
	color: #efefef;
	margin-top: -10px;
}
.portaitclear{
	display:block;
	float: right;
	margin-left:50px;
	width: 250px;
	height: 250px;

}

#portrait {
	background: url(../img/mike-mcallister-processed-250.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	border: 10px solid #f5f3f3;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
	-ms-transform: translate(-38px, -33px) rotate(367deg);
  	-webkit-transform: translate(-38px, -33px) rotate(367deg);
  	transform: translate(-38px, -33px) rotate(367deg);
	/* animation-name: tilt; */
	animation-duration: 5s;
	transition-timing-function: ease-out;
  	transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
}

#quadrophenia{
	width: 30px;
    height: 300px;
    float: right;
    margin-right: 300px;
    margin-top: -150px;

}

#nameplate{
	
	background: url(../img/mikeMc.png);
	background-size: cover;
	background-position-x: -115px;
	opacity: 1;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	position: relative;
	top: -100px;
	left: -100px;
	
  }
  #photo{
	background: url(../img/Scooter-bg.jpg);
	background-size: cover;
	background-position-x: -115px;
	opacity: 0.4;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	position: relative;
	top: 0px;
	left: 0px;
  }
  
  .blue {
	background: #00247d;
  }
  
  .white {
	background: #ffffff;
  }
  
.red {
	background: #ce1126;
  }

.quadrophenia_ring1{
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.4));
	  
}
.quadrophenia_ring2{
	border-radius: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
	top: 50px;
	width: 200px;
	height: 200px;
	  
}
.quadrophenia_ring3{
	border-radius: 100%;
	position: relative;
	display: block;
	top: 50px;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	  
}
#brand{
	display:block;
	float:right;
	width:315px;
	margin-bottom:10px;
}
.brand__logo{
	float: left;
}
.brand_ring1{
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 60px;
	height: 60px;
	  
}

.brand_ring2{
	border-radius: 100%;
	position: relative;
	display: block;
	margin: 0 auto;
	top: 10px;
	width: 40px;
	height: 40px;
	  
}
.brand_ring3{
	border-radius: 100%;
	position: relative;
	display: block;
	top: 10px;
	margin: 0 auto;
	width: 20px;
	height: 20px;
	  
}

.socialContainer{
	position: relative;
	height:230px;
}

.socialContainer--btn{
	position: absolute;
	bottom:0px;
}

.instagram{

}
.instagram__holder{
	position: relative;
	height: 0px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top:130%;

}

.instagram__border{
	cursor: pointer;
	position: absolute;
	top: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;
	max-width: 100%;
	width:100%;
    height: 0px;
    display: flex;
    flex-grow: 1;
    margin-bottom: 2px;
    padding-top: 100%;
	border: 10px solid #f5f3f3;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
	transition: all 0.4s ease-in-out;
}

.instagram__border:hover{
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.instagram__video{
	height: 100%;
    overflow: hidden;
    width: 100%;
    display: block;
    position: absolute;
	top: 0;
	outline: none;
}

#bigstagram--vid{
	outline: none;
}

.instagram__video video {
	height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
  }

.instagram__copy{
	position: absolute;
	bottom: 0px;
	height:40px;
	line-height: 1em;
}

.instagram__date{
	font-size: 0.65em;
}

#signature{
	background: url(../img/signature.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 57px;
	float: right;

}

.modalImage{
	width: 100%;
	display:block;
	margin:0 auto;
	filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

#map{
	width: 100%;
	height: 500px;
	z-index: 20000;;
}
.modal-backdrop {
	z-index: 0 !important;
}

footer{
	padding:10px;
}


@keyframes tilt {
	0% {
		transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-moz-keyframes animationFrames {
	0% {
		-moz-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-moz-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-moz-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-webkit-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-webkit-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-o-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-o-transform: translate(-38px, -33px) rotate(367deg);
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform: translate(299px, 18px) rotate(29deg);
	}
	20% {
		-ms-transform: translate(-38px, -33px) rotate(367deg);
	}
	100% {
		-ms-transform: translate(-38px, -33px) rotate(367deg);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-5-23 9:57:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @media (max-width: 768px) { 
	.instagram__holder {
		/* height: 420px; */
		padding-top:120%;
	}

 }
 @media (max-width: 576px) {
	.portaitclear {
		display: block;
		float: right;
		margin-left: 50px;
		width:250px !important;
		height:30px !important;
	}
	#portrait {
		background-size: cover;
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: right;
		margin-right: -28px;
		margin-top: -100px;
		border: 10px solid #f5f3f3;
		filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));

	}
	.homeProject {
		float: left;
		clear: both;
		width:100% !important;
		margin-bottom: 20px;
	}

	#qrCode{
		display:none;
	}

	.instagram__holder {
		/* height: 460px; */
	}
}

@media only screen and (max-device-width : 600px)  {

	#portrait {
		/* background: url(../img/mike-mcallister-processed-250.jpg); */
		background-size: cover;
		background-repeat: no-repeat;
		width: 150px;
		height: 150px;
		float: right;
		margin-right: -28px;
		margin-top: -100px;
		border: 10px solid white;

	}

	#pickupLine {
		font-size: 1em;
		color:#fff;
		z-index: 100;
		position: relative;
	}

}

@media (max-width: 375px) { 
	.instagram__holder {
		/* height: 420px; */
	}

 }

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

#pickupLine {
	width: 50%;
	font-weight: 400;
	letter-spacing: -.025em;
	line-height: 1.25em;
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 4px rgba(30, 26, 6, 0.9);
	z-index: 100;
	position: relative;
}

#qrCode{
	border-radius: 0% 5% 5% 0%;
	border: 2px solid #000;
	height: 180px;
	width:37px;
	position: absolute;
	left:0px;
	overflow: hidden;
	background-image: url(../img/qr.png);
	background-size: 170px 170px;
}

#qrCode:hover{
	/* left:-10px; */
	cursor: pointer;
}

#qrTitle{
	background: #000;
	
	color: #fff;
	position: absolute;
	right:-92px;
	bottom: 0px;
    width: 125px;
    height: 196px;
}
#qrTitle span{
	transform: rotate(90deg);
	transform-origin: top left;
	display: block;
    position: relative;
    left: 26px;
    top: 60px;
}
.logoimg {
	float: right;
	margin-left: 20px;
	width: 100px;
	height:100px;
}

.logoimgLeft {
	float: left;
	margin-right: 20px;

}

.emailform {
	width: 100% !important;
	height: 50px;
	font-size: 18px;
	border-radius: 6px;
	margin-bottom: 15px;
	border: 3px solid #a944423b;
	transition: all 0.4s ease-in-out;
}
.emailform:focus {
	border: 5px solid #a94442ff;
	outline: none; 
}

.msgbox {
	height: 200px !important;
}


.error {
	color: #910505
}

.logo{
	margin:0 auto;
	vertical-align: middle;
	display:block;
	height:150px;
	display: block;
}

 .logo img{
	display: block;
	margin: 0 auto;;
 }

.clientBlock{
	margin-top:50px;
}

.projectImg {
	width:100%;
}

.nava{
	/* font-size: 1.5em !important; */
}
.homeProject{
	float:right;
	margin-left: 10px;
	width:300px;
}

.homeTitle{
	color: rgba(229, 181, 44, 0.9);

}


 
