.worldcup--wrapper {
    width: 100%;
    height: 165px;
    background-image: url(/img/Womens-World-Cup-2019-1140x510-sm.jpg);
    background-size: cover;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
    padding: 15px 10px 0px 10px;

}

.worldcup {
    background: transparent;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.worldcup::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

.worldcup::-webkit-scrollbar {
    height: 9px;
    background-color: transparent;
}

.worldcup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5)
}

.center {
    margin: 0 auto;
    text-align: center;
    width: 10%;
}

.middle {
    margin: 0 auto;
    text-align: center;
}

.worldcup__group {
    display: block;
    flex: 0 0 auto;
    width: auto;
    min-width: 30%;
    height: 135px;
    margin: 0px 10px;
    padding: 10px;
    border: 1px solid black;
    background: white;
    opacity: .9;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}

.worldcup__group:nth-child(1) {
    margin-left: 0px;
}

@media (max-width: 414px) {
    .worldcup__group {
        min-width: 80%;
    }

    .hideMobile {
        display: none;
    }
}

.wordcup__matchDate {
    padding-left: 10px;
}

.worldcup__group--matches {
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.worldcup__teams--shade0 {
    background-color: rgba(40, 44, 44, 0.06);
}

.worldcup__table {
    width: 100%;
}

.worldcup__flag {
    border-radius: 100%;
    background-size: cover;
    background-position-x: 50%;
}

.worldcup__flag--small {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;

}

.worldcup__flag--large {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;

}

.worldcup__teamName {
    display: inline-block;
    height: 15px;
    vertical-align: 15%;
    cursor: pointer;
}

.worldcup__team--winner {
    font-weight: 700;
}

.wordcup__score {
    padding: 10px;
}
